// global

@import 'global/mixins';
@import 'global/vars';
@import 'global/fonts';
@import 'global/reset';
@import 'global/base';

// libs

@import '../libs/fancybox/fancybox.min.css';
@import '../libs/swiper/swiper-bundle.min.css';

// blocks

@import 'blocks/none';
@import 'blocks/no-scroll';
@import 'blocks/container';
@import 'blocks/navbar';
@import 'blocks/btn';
@import 'blocks/title-2';
@import 'blocks/tabs-btn';
@import 'blocks/tabs-content';

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/hero';
@import 'blocks/functionality';
@import 'blocks/footer';