@mixin laptop() {

    @media (max-width: 1024px) {
        @content;
    }
}

@mixin tablet() {

    @media (max-width: 768px) {
        @content;
    }
}

@mixin mobile() {

    @media (max-width: 426px) {
        @content;
    }
}

@mixin mobile-small() {

    @media (max-width: 375px) {
        @content;
    }
}