:root {

    // container

    --container-width: 1320px;
    --container-padding: 30px;

    @include mobile {
        --container-padding: 18px;
    }

    // fonts

    --font-primary: "Montserrat",
    sans-serif;
}