.btn {
    border-radius: 5px;
    padding: 23px 47px;
    min-width: 198px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: #fff;

    &--fill {
        background: linear-gradient(157deg, #ff9b05 0%, #ff8f3f 100%);

        &:hover {
            box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.16);
        }
    }

    &--outline {
        padding: 28px 38px;
        min-width: 257px;
        height: 78px;
        border: 1px solid #6cffff;

        &:hover {
            color: #6cffff;
            box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
        }
    }

    &--arrow {
        padding: 27px 34px;
        height: 78px;
        gap: 18px;

        &::after {
            content: '';
            display: block;
            width: 44px;
            height: 24px;
            background: url('../img/arrow-right.svg') no-repeat center / cover;
        }
    }

    &--arrow-large {
        padding: 24px 34px 24px 48px;
        min-width: 240px;
        height: 78px;
        gap: 36px;

        &::after {
            content: '';
            display: block;
            width: 54px;
            height: 30px;
            background: url('../img/arrow-right.svg') no-repeat center / cover;
        }
    }

    &--video {
        padding: 22px 28px;
        min-width: 288px;
        height: 78px;
        gap: 18px;
        background: #ff3b3b;

        &::after {
            content: '';
            display: block;
            width: 33px;
            height: 33px;
            background: url('../img/play.svg') no-repeat center / cover;
        }
    }
}