.btn {
    border-radius: 5px;
    padding: 27px;
    display: flex;
    align-items: center;
    gap: 18px;
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    background: linear-gradient(157deg, #ff9b05 0%, #ff8f3f 100%);

    &__text {
        font-weight: 600;
        font-size: 18px;
        color: #fff;
    }

    &__icon {}

    &--large {}

    &--outline {}
}