.contacts {
    position: relative;
    overflow: hidden;
    margin-bottom: -200px;
    padding: 13px 0 347px;
    background: url('../img/contacts-bg.jpg') no-repeat top center / cover;

    @media (min-resolution: 192dpi) {
        background-image: url('../img/contacts-bg@2x.jpg');
    }

    @include mobile {
        padding: 14px 0 110px;
        background-image: url('../img/contacts-bg-mobile.jpg');

        @media (min-resolution: 192dpi) {
            background-image: url('../img/contacts-bg-mobile@2x.jpg');
        }
    }

    &__heading {
        margin-bottom: 90px;
        display: flex;
        justify-content: center;

        @include mobile {
            margin-bottom: 98px;
        }
    }

    &__title {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            background: #fb8500;
            transform: rotate(-45deg);

            @include mobile {
                width: 30px;
                height: 6px;
            }
        }

        &::before {
            top: 0;
            left: -27px;

            @include mobile {
                top: -4px;
                left: -19px;
            }
        }

        &::after {
            top: 10px;
            left: -15px;

            @include mobile {
                top: 6px;
                left: -11px;
            }
        }
    }

    // form

    &__form {
        position: relative;
        border-radius: 5px;
        margin-left: auto;
        padding: 50px 32px 33px 62px;
        max-width: 644px;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.03);
        background: #fff;

        @include mobile {
            padding: 45px 30px 29px 30px;
        }

        &::before,
        &::after {
            position: absolute;
            z-index: 2;
            width: 201px;
            height: 201px;

            @include mobile {
                width: 126px;
                height: 126px;
            }
        }

        &::before {
            content: '';
            bottom: -108px;
            left: -101px;
            background: url('../img/discord.svg') no-repeat center / cover;

            @include mobile {
                top: -85px;
                bottom: auto;
                left: 50%;
                transform: translateX(-16px);
            }
        }

        &::after {
            content: '';
            top: -94px;
            right: -100px;
            background: url('../img/telegram.svg') no-repeat center / cover;

            @include mobile {
                top: -85px;
                right: auto;
                left: 50%;
                transform: translateX(-110px);
            }
        }
    }

    &__form-header {
        margin-bottom: 31px;

        @include mobile {
            margin-bottom: 39px;
        }
    }

    &__form-title {
        font-weight: 600;
        font-size: 18px;
        color: #2e3a59;

        @include mobile {
            font-size: 14px;
            text-align: center;
        }
    }

    &__form-body {
        margin-bottom: 44px;

        @include mobile {
            margin-bottom: 26px;
        }
    }

    &__form-row {
        margin-bottom: 42px;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile {
            margin-bottom: 34px;
            flex-direction: column;
            gap: 34px;
        }
    }

    &__form-input {
        padding: 2px 15px 17px 28px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        color: #2e3a59;
        border-bottom: 1px solid rgba(165, 170, 183, .5);

        @include mobile {
            font-size: 13px;
            border-bottom: 0;
        }

        &::placeholder {
            color: rgba(46, 58, 89, 0.43);
        }

        &--name {
            background: url('../img/user-form.svg') no-repeat top left;
        }

        &--email {
            background: url('../img/email.svg') no-repeat top 3px left;
        }

        &--comment {
            height: 103px;
            line-height: 1.6;
            background: url('../img/comment.svg') no-repeat top 5px left;

            @include mobile {
                height: 80px;
            }
        }
    }

    &__form-footer {
        display: flex;
        justify-content: center;
    }
}