.faq {
    margin-bottom: 89px;

    @include mobile {
        margin-bottom: 64px;
    }

    &__heading {
        margin-bottom: 88px;
        display: flex;
        justify-content: center;

        @include mobile {
            margin-bottom: 50px;
        }
    }

    &__title {}

    &__title-word {
        position: relative;

        &--first {

            &::before {
                content: '';
                position: absolute;
                top: -4px;
                left: -32px;
                transform: rotate(-45deg);
                width: 40px;
                height: 8px;
                background: #fb8500;

                @include mobile {
                    left: -16px;
                    width: 23px;
                    height: 5px;
                }
            }
        }

        &--last {

            &::after {
                content: '';
                position: absolute;
                transform: rotate(-45deg);
                bottom: -4px;
                right: -32px;
                width: 40px;
                height: 8px;
                background: #0aa6fe;

                @include mobile {
                    bottom: -6px;
                    right: -16px;
                    width: 23px;
                    height: 5px;
                }
            }
        }
    }

    &__questions {
        margin: 0 auto 45px;
        max-width: 946px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 21px;

        @include mobile {
            margin: 0 auto 29px;
        }
    }

    // question

    &__question {
        border-radius: 5px;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.03);
        background: #fff;
        transition: all .2s;

        &:hover {
            box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
        }

        &--active {

            .faq__question-toggler {

                &::after {
                    transform: rotate(45deg);
                }
            }

            &:hover {

                .faq__question-toggler {

                    &::after {
                        transform: rotate(-135deg);
                    }
                }
            }
        }
    }

    &__question-toggler {
        position: relative;
        padding: 37px 100px 37px 36px;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        text-align: left;
        color: #2e3a59;

        @include mobile {
            padding: 26px 50px 23px 20px;
            font-size: 13px;
        }

        &:hover {
            color: #0aa6fe;

            &::after {
                transform: rotate(-180deg);
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 38px;
            right: 48px;
            width: 23px;
            height: 23px;
            background: url('../img/plus.svg') no-repeat center / cover;
            transition: all .2s;

            @include mobile {
                top: 23px;
                right: 13px;
                width: 20px;
                height: 20px;
            }
        }
    }

    // answer

    &__answer {
        overflow: hidden;
        max-height: 0;
        transition: all .2s;
    }

    &__answer-inner {
        position: relative;
        padding: 3px 67px 37px 58px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include mobile {
            padding: 0 25px 27px 40px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 5px;
            bottom: 38px;
            left: 37px;
            width: 2px;
            background: linear-gradient(174deg, #0aa6fe 0%, #05ffff 100%);

            @include mobile {
                bottom: 22px;
                left: 21px;
            }
        }
    }

    &__answer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;
        color: #727272;

        @include mobile {
            font-size: 11px;
            line-height: 1.4;
        }
    }

    // footer

    &__footer {
        display: flex;
        justify-content: center;
    }

    &__link {
        font-weight: 500;
        font-size: 18px;
        text-decoration: underline;
        color: #0aa6fe;

        @include mobile {
            font-size: 13px;
        }

        &:hover {
            text-decoration: none;
        }
    }
}