.faq {
    margin-bottom: 102px;

    &__heading {
        margin-bottom: 88px;
        display: flex;
        justify-content: center;
    }

    &__title {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            transform: rotate(-45deg);
        }

        &::before {
            top: -4px;
            left: -32px;
            background: #fb8500;
        }

        &::after {
            bottom: -4px;
            right: -32px;
            background: #0aa6fe;
        }
    }

    &__questions {
        margin: 0 auto 45px;
        max-width: 946px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 21px;
    }

    // question

    &__question {
        border-radius: 5px;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.03);
        background: #fff;
        transition: all .2s;

        &:hover {
            box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
        }

        &--active {

            .faq__question-toggler {

                &::after {
                    transform: rotate(45deg);
                }
            }

            &:hover {

                .faq__question-toggler {

                    &::after {
                        transform: rotate(-135deg);
                    }
                }
            }
        }
    }

    &__question-toggler {
        position: relative;
        padding: 37px 100px 37px 36px;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        text-align: left;
        color: #2e3a59;

        &:hover {
            color: #0aa6fe;

            &::after {
                transform: rotate(-180deg);
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 38px;
            right: 48px;
            width: 23px;
            height: 23px;
            background: url('../img/plus.svg');
            transition: all .2s;
        }
    }

    // answer

    &__answer {
        overflow: hidden;
        max-height: 0;
        transition: all .2s;
    }

    &__answer-inner {
        position: relative;
        padding: 3px 67px 37px 58px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &::before {
            content: '';
            position: absolute;
            top: 5px;
            bottom: 38px;
            left: 37px;
            width: 2px;
            background: linear-gradient(174deg, #0aa6fe 0%, #05ffff 100%);
        }
    }

    &__answer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;
        color: #727272;
    }

    // footer

    &__footer {
        display: flex;
        justify-content: center;
    }

    &__link {
        font-weight: 500;
        font-size: 18px;
        text-decoration: underline;
        color: #0aa6fe;

        &:hover {
            text-decoration: none;
        }
    }
}