.faq {

    &__heading {
        margin-bottom: 88px;
        display: flex;
        justify-content: center;
    }

    &__title {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            transform: rotate(-45deg);
        }

        &::before {
            top: -4px;
            left: -32px;
            background: #fb8500;
        }

        &::after {
            bottom: -4px;
            right: -32px;
            background: #0aa6fe;
        }
    }

    &__questions {
        margin: 0 auto;
        max-width: 946px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    &__question {
        border-radius: 5px;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.03);
        background: #fff;

        &--active {

            .faq__question-toggler {

                &::after {
                    transform: rotate(45deg);
                }
            }

            .faq__answer {
                max-height: none;
            }
        }
    }

    &__question-toggler {
        position: relative;
        padding: 37px 100px 37px 36px;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        text-align: left;
        color: #2e3a59;

        &::after {
            content: '';
            position: absolute;
            top: 36px;
            right: 46px;
            width: 23px;
            height: 23px;
            background: url('../img/plus.svg');
            transition: all .2s;
        }
    }

    &__answer {
        overflow: hidden;
        max-height: 0;
        transition: all .2s;
    }

    &__answer-inner {}

    &__answer-text {}

    &__footer {}

    &__link {}
}