.functionality {

    // inner

    &__inner {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    // tabs

    &__tabs {
        position: absolute;
        top: -23px;
        left: 26px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        @include mobile {
            position: static;
            gap: 9px;
            margin-bottom: -40px;
            flex-wrap: wrap;
        }
    }

    // gallery

    &__gallery {
        grid-row: span 2;
        padding-top: 70px;

        @include mobile {
            grid-row: auto;
        }
    }

    &__gallery-slider {
        margin: 0 auto;
        width: 450px;

        @include mobile {
            width: 265px;
        }
    }

    &__gallery-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__gallery-image {}

    &__gallery-controls {
        transform: translateX(-16px);
        margin-top: -8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 33px;
    }

    &__gallery-btn {

        &:hover {

            path {
                fill: #fb8500;
            }
        }
    }

    &__gallery-btn-icon {

        path {
            fill: #0aa6fe;
        }
    }

    // heading

    &__heading {
        margin-bottom: 50px;

        @include mobile {
            order: -1;
            margin-bottom: 28px;
        }
    }

    &__heading-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__title {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            background: #fb8500;
            transform: rotate(-45deg);

            @include mobile {
                width: 22px;
                height: 4px;
            }
        }

        &::before {
            top: 0;
            left: -22px;

            @include mobile {
                top: -2px;
                left: -10px;
            }
        }

        &::after {
            bottom: 0;
            right: -27px;

            @include mobile {
                bottom: -2px;
                right: -20px;
            }
        }
    }

    &__description {
        max-width: 495px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.8;
        text-align: center;
        color: #828282;

        @include mobile {
            font-size: 12px;
        }
    }

    // info

    &__info {}

    &__list {
        margin-bottom: 69px;
        padding-left: 67px;
        display: flex;
        flex-direction: column;
        gap: 42px;
    }

    &__item {
        padding-left: 27px;
        font-weight: 400;
        font-size: 18px;
        color: #2e3a59;
        background: url('../img/rhombus.svg') no-repeat left top 4px;
    }

    &__item-strong {
        font-weight: 700;
    }

    &__note {
        border-radius: 5px;
        transform: translateX(24px);
        margin-bottom: 57px;
        padding: 30px 26px 29px;
        max-width: 649px;
        display: flex;
        align-items: center;
        gap: 19px;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.04);
        background: #fff;
    }

    &__note-icon {}

    &__note-text {
        font-weight: 400;
        font-size: 18px;
        color: #828282;
    }

    &__btns {
        padding-left: 108px;
        display: flex;
        align-items: center;
        gap: 23px;
    }
}