.functionality {
    margin-top: -6px;

    // inner

    &__inner {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;
    }

    // tabs

    &__tabs {
        position: absolute;
        top: -23px;
        left: 26px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    // gallery

    &__gallery {
        grid-row: span 2;
    }

    &__gallery-inner {
        position: relative;
        padding-top: 70px;
    }

    &__gallery-slider {
        margin: 0 auto;
        width: 500px;
    }

    &__gallery-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__gallery-image {
        transform: translateX(-42px);
    }

    &__gallery-controls {
        position: absolute;
        bottom: -24px;
        left: 50%;
        z-index: 2;
        transform: translateX(-95px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 33px;
    }

    &__gallery-btn {

        &:hover {

            path {
                fill: #fb8500;
            }
        }

        &--prev {}

        &--next {}
    }

    &__gallery-btn-icon {

        path {
            fill: #0aa6fe;
        }
    }

    // heading

    &__heading {
        margin-bottom: 50px;
    }

    &__heading-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__title {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            background: #fb8500;
            transform: rotate(-45deg);
        }

        &::before {
            top: 0;
            left: -22px;
        }

        &::after {
            bottom: 0;
            right: -27px;
        }
    }

    &__description {
        max-width: 495px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.8;
        text-align: center;
        color: #828282;
    }

    // info

    &__info {}

    &__info-inner {}

    &__list {
        margin-bottom: 69px;
        padding-left: 67px;
        display: flex;
        flex-direction: column;
        gap: 42px;
    }

    &__item {
        padding-left: 27px;
        font-weight: 400;
        font-size: 18px;
        color: #2e3a59;
        background: url('../img/rhombus.svg') no-repeat left top 4px;
    }

    &__item-strong {
        font-weight: 700;
    }

    &__note {
        border-radius: 5px;
        transform: translateX(24px);
        margin-bottom: 57px;
        padding: 30px 26px 29px;
        max-width: 649px;
        display: flex;
        align-items: center;
        gap: 19px;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.04);
        background: #fff;
    }

    &__note-icon {}

    &__note-text {
        font-weight: 400;
        font-size: 18px;
        color: #828282;
    }

    &__btns {
        padding-left: 108px;
        display: flex;
        align-items: center;
        gap: 23px;
    }
}