.hero {
    margin-bottom: -6px;
    padding-top: 190px;
    min-height: 1027px;
    background: #4d97f4 url('../img/hero-bg.jpg') no-repeat bottom center / cover;

    @media (min-resolution: 192dpi) {
        background-image: url('../img/hero-bg@2x.jpg');
    }

    @include mobile {
        margin-bottom: 25px;
        padding-top: 94px;
        min-height: 619px;
        background-image: url('../img/hero-bg-mobile.jpg');
    }

    @media (min-resolution: 192dpi) {
        background-image: url('../img/hero-bg-mobile@2x.jpg');
    }

    &__inner {
        max-width: 703px;
    }

    &__header {
        margin-bottom: 25px;

        @include mobile {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &::after {
            content: '';
            display: block;
            margin-top: 28px;
            width: 110px;
            height: 5px;
            background: linear-gradient(174deg, #ffac8b 0%, #ff4900 100%);

            @include mobile {
                margin-top: 14px;
                height: 3px;
            }
        }
    }

    &__title {
        font-weight: 800;
        font-size: 55px;
        text-transform: uppercase;
        color: #fff;

        @include mobile {
            font-size: 30px;
            text-align: center;
        }
    }

    &__title-word {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            background: #fb8500;
            transform: rotate(-45deg);

            @include mobile {
                width: 22px;
                height: 4px;
            }
        }

        &::before {
            top: 0;
            left: -27px;

            @include mobile {
                top: -2px;
                left: -20px;
            }
        }

        &::after {
            top: 10px;
            left: -15px;

            @include mobile {
                top: 5px;
                left: -13px;
            }
        }
    }

    &__title-image {
        transform: translate(4px, 13px);
        margin-left: -12px;
        display: inline-block;

        @include mobile {
            transform: translate(4px, 6px);
            margin-left: -7px;
            width: 33px;
        }
    }

    &__body {
        margin-bottom: 46px;
        display: flex;
        flex-direction: column;
        gap: 27px;

        @include mobile {
            margin-bottom: 24px;
            gap: 15px;
        }
    }

    &__description {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.6;
        color: #fff;

        @include mobile {
            font-size: 12px;
            text-align: center;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: 34px;

        @include mobile {
            flex-direction: column;
            gap: 17px;
        }
    }

    &__btn-desktop {

        @include mobile {
            display: none;
        }
    }

    &__btn-mobile {
        display: none;

        @include mobile {
            display: flex;
        }

        @include mobile-small {
            background: linear-gradient(90deg, #4a91f4 0%, #6ac3fa 100%);
        }
    }
}