.hero {
    padding-top: 183px;
    height: 1027px;
    background: url('../img/hero-bg.jpg') no-repeat top center / cover;

    @media (min-resolution: 192dpi) {
        background-image: url('../img/hero-bg@2x.png');
    }
}