.hero {
    margin-bottom: -6px;
    padding-top: 190px;
    min-height: 1027px;
    background: #4d97f4 url('../img/hero-bg.jpg') no-repeat bottom center / cover;

    @media (min-resolution: 192dpi) {
        background-image: url('../img/hero-bg@2x.jpg');
    }

    @include mobile {
        margin-bottom: 25px;
        min-height: 619px;
        background-image: url('../img/hero-bg-mobile.jpg');
    }

    @media (min-resolution: 192dpi) {
        background-image: url('../img/hero-bg-mobile@2x.jpg');
    }

    &__inner {
        max-width: 703px;
    }

    &__header {
        margin-bottom: 25px;

        &::after {
            content: '';
            display: block;
            margin-top: 28px;
            width: 110px;
            height: 5px;
            background: linear-gradient(174deg, #ffac8b 0%, #ff4900 100%);
        }
    }

    &__title {
        position: relative;
        font-weight: 800;
        font-size: 55px;
        text-transform: uppercase;
        color: #fff;

        @include mobile {
            font-size: 30px;
            text-align: center;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            background: #fb8500;
            transform: rotate(-45deg);
        }

        &::before {
            top: 5px;
            left: -27px;
        }

        &::after {
            top: 18px;
            left: -15px;
        }
    }

    &__title-image {
        margin-left: -12px;
        display: inline-block;
        transform: translate(4px, 13px);
    }

    &__body {
        margin-bottom: 46px;
        display: flex;
        flex-direction: column;
        gap: 27px;
    }

    &__description {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.6;
        color: #fff;
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: 34px;

        @include mobile {
            flex-direction: column;
        }
    }
}