.menu {

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__item {}

    &__link {
        font-weight: 700;
        font-size: 17px;
        text-transform: uppercase;
        color: #fff;
    }
}