.mobile-menu {
    visibility: hidden;
    position: fixed;
    top: -120%;
    left: 0;
    overflow-y: auto;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 100px 15px 80px;
    background: var(--color-primary-2);
    pointer-events: none;
    transition: all .2s;

    &--active {
        visibility: visible;
        top: 0;
        pointer-events: all;
    }

    &__close {
        position: absolute;
        top: 40px;
        left: 35px;

        @include tablet {
            top: 35px;
            left: 34px;
            width: 27px;
            height: 27px;
        }

        @include mobile {
            top: 20px;
            left: 22px;
        }
    }

    &__close-img {}

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__item {}

    &__link {
        padding: 6px;
        font-weight: 700;
        font-size: 17px;
        text-transform: uppercase;
        color: var(--color-text-light);
    }
}