.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;

    @include mobile {
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    // logo

    &__logo {
        margin: 12px 0 0 -9px;

        @include mobile {
            margin: 0;
            width: 150px;
        }
    }

    &__logo-image {}

    // menu

    &__menu {
        margin-top: 20px;

        @include mobile {
            display: none;
        }
    }

    &__menu-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__menu-item {}

    &__menu-link {
        position: relative;
        font-weight: 700;
        font-size: 17px;
        text-transform: uppercase;
        color: #fff;

        &:hover {

            &::after {
                width: 25px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -11px;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
            border-radius: 5px;
            width: 0;
            height: 3px;
            background: linear-gradient(157deg, #ff9b05 0%, #ff8f3f 100%);
            transition: all .2s;
        }
    }

    // btns

    &__btns {
        display: flex;
        align-items: flex-start;
        gap: 15px;
    }

    // language

    &__language {
        border-radius: 5px;
        width: 123px;
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.05);
        background: #fff;
        transition: all .2s;

        @include mobile {
            width: 66px;
        }

        &:hover {
            box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);
        }

        &--active {

            .navbar__language-toggler {

                &::after {
                    transform: rotate(-180deg) translateY(1px);
                }
            }
        }
    }

    &__language-toggler {
        position: relative;
        padding: 19px 16px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;

        @include mobile {
            padding: 11px 9px;
            height: 36px;
            gap: 9px;
        }

        &:hover {

            .navbar__language-text {
                color: #0aa6fe;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 27px;
            right: 12px;
            display: block;
            width: 10px;
            height: 5px;
            background: url('../img/language-arrow.svg') no-repeat center;
            transition: all .2s;

            @include mobile {
                display: none;
            }
        }
    }

    &__language-flag {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);

        @include mobile {
            width: 20px;
            height: 14px;
        }
    }

    &__language-text {
        font-weight: 700;
        font-size: 17px;
        color: #2e3a59;
        transition: all .2s;

        @include mobile {
            font-size: 12px;
        }
    }

    &__language-list {
        overflow: hidden;
        max-height: 0;
        transition: all .2s;
    }

    &__language-item {
        border-top: 1px solid #e2e2e2;
    }

    &__language-link {
        padding: 19px 16px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;

        @include mobile {
            padding: 11px 9px;
            height: 36px;
            gap: 9px;
        }

        &:hover {

            .navbar__language-text {
                color: #0aa6fe;
            }
        }
    }

    // login

    &__login {
        border-radius: 5px;
        width: 77px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(157deg, #ff9b05 0%, #ff8f3f 100%);
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);

        @include mobile {
            display: none;
        }

        &:hover {
            box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);
        }
    }

    &__login-icon {}
}