.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;

    // logo

    &__logo {
        margin: 12px 0 0 -9px;
    }

    &__logo-image {}

    &__menu {
        margin-top: 20px;
    }

    // menu

    &__menu-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__menu-item {}

    &__menu-link {
        position: relative;
        font-weight: 700;
        font-size: 17px;
        text-transform: uppercase;
        color: #fff;

        &:hover {

            &::after {
                width: 25px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -11px;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
            border-radius: 5px;
            width: 0;
            height: 3px;
            background: linear-gradient(157deg, #ff9b05 0%, #ff8f3f 100%);
            transition: all .2s;
        }
    }

    // admin

    &__admin {
        display: flex;
        gap: 15px;
    }

    // language

    &__language {
        border-radius: 5px;
        width: 123px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
        background: #fff;
        transition: all .2s;

        &:hover {

            .navbar__language-text {
                color: #fb8500;
            }
        }

        &--active {

            .navbar__language-list {
                display: block;
            }
        }
    }

    &__language-toggler {
        position: relative;
        padding: 19px 16px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;

        &::after {
            content: '';
            position: absolute;
            top: 27px;
            right: 12px;
            display: block;
            width: 10px;
            height: 5px;
            background: url('../img/language-arrow.svg') no-repeat center;
        }
    }

    &__language-flag {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    }

    &__language-text {
        font-weight: 700;
        font-size: 17px;
        color: #2e3a59;
        transition: all .2s;
    }

    &__language-list {
        display: none;
    }

    &__language-item {}

    &__language-link {
        padding: 19px 16px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    // login

    &__login {
        border-radius: 5px;
        width: 77px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(157deg, #ff9b05 0%, #ff8f3f 100%);
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);

        &:hover {
            opacity: 0.9;
        }
    }

    &__login-icon {}
}