.reviews {
    padding-top: 167px;
    min-height: 601px;
    background: var(--color-primary-2) url('../img/reviews-bg.jpg') no-repeat top center / cover;

    @media (min-resolution: 192dpi) {
        background-image: url('../img/reviews-bg@2x.jpg');
    }

    @include mobile {
        padding-top: 68px;
        min-height: 384px;
        background-image: url('../img/reviews-bg-mobile.jpg');

        @media (min-resolution: 192dpi) {
            background-image: url('../img/reviews-bg-mobile@2x.jpg');
        }
    }

    &__heading {
        margin-bottom: 32px;
        display: flex;
        justify-content: center;

        @include mobile {
            margin-bottom: 25px;
        }
    }

    &__title {
        color: var(--color-text-light);

        @include mobile {
            font-size: 25px;
        }
    }

    &__title-word {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            background: var(--color-secondary-1);
            transform: rotate(-45deg);

            @include mobile {
                width: 20px;
                height: 4px;
            }
        }

        &::before {
            top: -5px;
            left: -27px;

            @include mobile {
                top: -2px;
                left: -13px;
            }
        }

        &::after {
            top: 5px;
            left: -15px;

            @include mobile {
                left: -8px;
            }
        }
    }

    &__slider {
        position: relative;

        @include mobile {
            margin: 0 calc(var(--container-padding) * -1);
        }
    }

    &__slide {
        padding: 45px 58px 61px;
        display: flex;
        justify-content: center;

        @include tablet-small {
            padding: 45px 0 61px;
        }

        @include mobile {
            padding: 33px 8px 36px;
        }
    }

    // slide-card

    &__slide-card {
        position: relative;
        border-radius: 5px;
        padding: 83px 113px 42px;
        max-width: 826px;
        min-height: 241px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: #fff;

        @include tablet-small {
            padding: 83px 80px 42px;
        }

        @include mobile {
            padding: 39px 19px 23px;
            min-height: 136px;
            gap: 10px;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 47px;
            height: 39px;
            background: url('../img/quotes.svg') no-repeat center / cover;

            @include mobile {
                width: 29px;
                height: 24px;
            }
        }

        &::before {
            top: -24px;
            left: 0;

            @include mobile {
                top: -15px;
            }
        }

        &::after {
            right: 0;
            bottom: -24px;
            transform: rotate(180deg);

            @include mobile {
                bottom: -15px;
            }
        }
    }

    &__slide-photo {
        position: absolute;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
        border: 4px solid #fff;
        border-radius: 100%;

        @include mobile {
            top: -33px;
            width: 65px;
            height: 65px;
        }
    }

    &__slide-name {
        position: relative;
        font-weight: 600;
        font-size: 18px;
        color: var(--color-text-1);

        @include tablet {
            font-size: 16px;
        }

        @include mobile {
            font-size: 13px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 5px;
            right: -38px;
            width: 29px;
            height: 11px;
            background: url('../img/decor.svg') no-repeat center / cover;

            @include mobile {
                top: 5px;
                right: -28px;
                width: 19px;
                height: 7px;
            }
        }
    }

    &__slide-text {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
        color: var(--color-text-1);

        @include mobile {
            font-size: 11px;
            line-height: 1.4;
        }
    }

    // controls

    &__controls {
        position: absolute;
        top: 114px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        max-width: 940px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;

        @include tablet-small {
            top: 130px;
        }

        @include mobile {
            position: static;
            transform: none;
            justify-content: center;
            gap: 29px;
        }
    }

    &__controls-btn {
        border-radius: 15px;
        width: 115px;
        height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 25px 0 rgba(0, 50, 180, 0.3), 0 4px 25px 0 rgba(10, 166, 254, 0.48);
        background: linear-gradient(152deg, var(--color-primary-1) 0%, #05ffff 100%);
        pointer-events: all;

        @include tablet {
            width: 100px;
            height: 100px;
        }

        @include tablet-small {
            width: 75px;
            height: 75px;
        }

        @include mobile {
            border-radius: 0;
            width: 54px;
            height: 28px;
            box-shadow: none;
            background: transparent;
        }

        &:hover {
            box-shadow: inset 0 0 25px 0 rgba(0, 50, 180, 0.5), 0 4px 25px 0 rgba(10, 166, 254, 0.7);

            @include mobile {
                box-shadow: none;
            }
        }

        &--prev {
            transform: rotate(-135deg);

            @include tablet {
                transform: translateX(7px) rotate(-135deg);
            }

            @include tablet-small {
                transform: translateX(-14px) rotate(-135deg);
            }

            @include mobile {
                transform: none;
            }
        }

        &--next {
            transform: rotate(45deg);

            @include tablet {
                transform: translateX(-7px) rotate(45deg);
            }

            @include tablet-small {
                transform: translateX(14px) rotate(45deg);
            }

            @include mobile {
                transform: none;
            }
        }
    }

    &__controls-btn-icon {
        transition: all .2s;

        @include mobile {
            width: 54px;
            height: 28px;
        }

        &--prev {
            transform: translate(4px, -3px) rotate(135deg);

            @include mobile {
                transform: rotate(-180deg);
            }
        }

        &--next {
            transform: translate(2px, -3px) rotate(-45deg);

            @include mobile {
                transform: none;
            }
        }
    }
}