.reviews {
    padding-top: 167px;
    min-height: 601px;
    background: url('../img/reviews-bg.jpg') no-repeat top center / cover;

    @media (min-resolution: 192dpi) {
        background-image: url('../img/reviews-bg@2x.jpg');
    }

    &__heading {
        display: flex;
        justify-content: center;
    }

    &__title {
        position: relative;
        color: #fff;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            background: #fb8500;
            transform: rotate(-45deg);
        }

        &::before {
            top: -5px;
            left: -27px;
        }

        &::after {
            top: 5px;
            left: -15px;
        }
    }

    &__slider {}

    &__slide {}

    &__slide-card {}

    &__slide-photo {}

    &__slide-name {}

    &__slide-text {}

    &__controls {}

    &__controls-btn {
        border-radius: 15px;
        width: 115px;
        height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 25px 0 rgba(0, 50, 180, 0.3), 0 4px 25px 0 rgba(10, 166, 254, 0.48);
        background: linear-gradient(152deg, #0aa6fe 0%, #05ffff 100%);

        &--prev {
            transform: rotate(-135deg);
        }

        &--next {
            transform: rotate(45deg);
        }
    }

    &__controls-btn-icon {

        &--prev {
            transform: rotate(135deg);
        }

        &--next {
            transform: rotate(-45deg);
        }
    }
}