.reviews {
    padding-top: 167px;
    min-height: 601px;
    background: url('../img/reviews-bg.jpg') no-repeat top center / cover;

    @media (min-resolution: 192dpi) {
        background-image: url('../img/reviews-bg@2x.jpg');
    }

    &__heading {
        margin-bottom: 32px;
        display: flex;
        justify-content: center;
    }

    &__title {
        position: relative;
        color: #fff;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            background: #fb8500;
            transform: rotate(-45deg);
        }

        &::before {
            top: -5px;
            left: -27px;
        }

        &::after {
            top: 5px;
            left: -15px;
        }
    }

    &__slider {
        position: relative;
    }

    &__slide {
        padding: 45px 0 61px;
        display: flex;
        justify-content: center;
    }

    &__slide-card {
        position: relative;
        border-radius: 5px;
        padding: 83px 113px 42px;
        max-width: 826px;
        min-height: 241px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: #fff;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 47px;
            height: 39px;
            background: url('../img/quotes.svg');
        }

        &::before {
            top: -24px;
            left: 0;
        }

        &::after {
            right: 0;
            bottom: -24px;
            transform: rotate(180deg);
        }
    }

    &__slide-photo {
        position: absolute;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
        border: 4px solid #fff;
        border-radius: 100%;
    }

    &__slide-name {
        position: relative;
        font-weight: 600;
        font-size: 18px;
        color: #2e3a59;

        &::after {
            content: '';
            position: absolute;
            top: 5px;
            right: -38px;
            width: 29px;
            height: 11px;
            background: url('../img/decor.svg');
        }
    }

    &__slide-text {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
        color: #2e3a59;
    }

    &__controls {
        position: absolute;
        left: 50%;
    }

    &__controls-btn {
        border-radius: 15px;
        width: 115px;
        height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 25px 0 rgba(0, 50, 180, 0.3), 0 4px 25px 0 rgba(10, 166, 254, 0.48);
        background: linear-gradient(152deg, #0aa6fe 0%, #05ffff 100%);

        &--prev {
            transform: rotate(-135deg);
        }

        &--next {
            transform: rotate(45deg);
        }
    }

    &__controls-btn-icon {

        &--prev {
            transform: rotate(135deg);
        }

        &--next {
            transform: rotate(-45deg);
        }
    }
}