.tabs-btn {
    border-radius: 5px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.03);
    background: #fff;

    &:hover {
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.07);

        .tabs-btn__icon {

            path {
                fill: #0aa6fe;
            }
        }

        .tabs-btn__text {
            color: #0aa6fe;
        }
    }

    &--windows {
        width: 206px;
    }

    &--android {
        width: 195px;
    }

    &--ios {
        width: 135px;

        .tabs-btn__icon {
            transform: translateY(-4px);
        }
    }

    &--active {
        box-shadow: 0 15px 25px 0 rgba(0, 163, 255, 0.3);
        background: linear-gradient(128deg, #0aa6fe 0%, #05ffff 100%);
        cursor: default;
        pointer-events: none;

        &:hover {
            box-shadow: 0 15px 25px 0 rgba(0, 163, 255, 0.3);

            .tabs-btn__icon {

                path {
                    fill: #fff;
                }
            }

            .tabs-btn__text {
                color: #fff;
            }
        }

        .tabs-btn__icon {

            path {
                fill: #fff;
            }
        }

        .tabs-btn__text {
            color: #fff;
        }
    }

    &__icon {

        path {
            transition: all .2s;
        }
    }

    &__text {
        font-weight: 700;
        font-size: 18px;
        color: #aaa;
        transition: all .2s;
    }
}