.tariffs {
    margin-bottom: 134px;
    padding-top: 106px;

    @include mobile {
        margin-bottom: 79px;
        padding-top: 28px;
    }

    &__heading {
        margin-bottom: 64px;
        display: flex;
        justify-content: center;

        @include mobile {
            margin-bottom: 36px;
        }
    }

    &__title {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            background: var(--color-secondary-1);
            transform: rotate(-45deg);

            @include mobile {
                width: 23px;
                height: 5px;
            }
        }

        &::before {
            top: -30px;
            left: -30px;

            @include mobile {
                top: -3px;
                left: -15px;
            }
        }

        &::after {
            bottom: -5px;
            right: -30px;

            @include mobile {
                bottom: 0;
                right: -20px;
            }
        }
    }

    &__tabs {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        @include mobile {
            margin-bottom: 45px;
            gap: 9px;
        }

        @include mobile-small {
            flex-direction: column;
        }
    }

    &__cards {}

    &__cards-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 36px;

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }

        @include tablet {
            grid-template-columns: 1fr;
        }

        @include mobile {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }

    // card

    &__card {
        border-radius: 5px 55px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.05);
        background: #fff;

        &:nth-child(1) {

            @include laptop {
                justify-self: end;
            }

            @include tablet {
                justify-self: auto;
            }
        }

        &:nth-child(2) {

            @include laptop {
                justify-self: start;
            }

            @include tablet {
                justify-self: auto;
            }
        }

        &:nth-child(3) {

            @include laptop {
                grid-column: span 2;
            }

            @include tablet {
                grid-column: 1;
            }
        }

        @include mobile {
            max-width: 299px;
        }
    }

    &__card-title {
        border-radius: 5px 55px 0 55px;
        margin-bottom: 36px;
        padding: 15px 30px;
        min-height: 71px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 21px;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-text-light);
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.05);
        background: linear-gradient(163deg, #05ffff 0%, var(--color-primary-1) 100%);

        @include mobile {
            margin-bottom: 25px;
            min-height: 56px;
            font-size: 20px;
        }

        &--pink {
            background: linear-gradient(79deg, #dda6ff 0%, #d828f4 100%);
        }

        &--red {
            background: linear-gradient(162deg, #ff9898 0%, #ff1f00 100%);
        }
    }

    &__card-period {
        margin-bottom: 34px;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        color: var(--color-text-1);

        @include mobile {
            margin-bottom: 26px;
            font-size: 25px;
        }
    }

    &__card-list {
        margin-bottom: 20px;
        padding: 0 50px 0;
        display: flex;
        flex-direction: column;
        gap: 26px;

        @include mobile {
            margin-bottom: 22px;
            padding: 0 29px 0;
            gap: 11px;
        }
    }

    &__card-item {
        position: relative;
        padding-left: 35px;
        font-weight: 400;
        font-size: 18px;
        color: var(--color-text-1);

        @include mobile {
            padding-left: 32px;
            font-size: 14px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 23px;
            height: 18px;
            background: url('../img/check.svg') no-repeat center / cover;

            @include mobile {
                width: 16px;
                height: 12px;
            }
        }

        &--unavailable {

            &::before {
                top: 0;
                left: 3px;
                width: 18px;
                height: 18px;
                background-image: url('../img/cross.svg');

                @include mobile {
                    top: 2px;
                    left: 1px;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    &__card-price {
        transform: translateX(6px);
        margin: auto 0 18px;
        display: flex;
        justify-content: center;
        gap: 22px;
        color: var(--color-text-1);

        @include mobile {
            transform: translateX(15px);
            margin-bottom: 22px;
            gap: 5px;
        }
    }

    &__card-price-count {
        padding-top: 8px;
        font-weight: 600;
        font-size: 45px;

        @include mobile {
            font-size: 35px;
        }
    }

    &__card-price-currency {
        font-weight: 500;
        font-size: 35px;

        @include mobile {
            font-size: 25px;
        }
    }

    &__card-btn {
        border-radius: 0 0 5px 55px;
        padding: 15px 30px;
        min-height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 22px;
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
        background: linear-gradient(157deg, var(--color-secondary-3) 0%, var(--color-secondary-2) 100%);

        @include mobile {
            min-height: 59px;
            gap: 20px;
        }

        &:hover {

            &::after {
                transform: translateX(30px);
            }
        }

        &::after {
            content: '';
            transform: translateX(15px);
            display: block;
            width: 44px;
            height: 24px;
            background: url('../img/arrow-right.svg') no-repeat center / cover;
            transition: all .2s;

            @include mobile {
                transform: translateX(8px);
            }
        }
    }

    &__card-btn-text {
        transform: translate(14px, -2px);
        font-weight: 600;
        font-size: 18px;
        color: var(--color-text-light);

        @include mobile {
            transform: translate(8px, 0);
            font-size: 15px;
        }
    }
}