.title-2 {
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #2e3a59;

    @include tablet {
        font-size: 36px;
    }

    @include mobile {
        font-size: 30px;
    }
}